services:
  library:
    build:
      context: .
    env_file:
      - .env
    ports:
      - "8001:8000"
    volumes:
      - ./:/app
      - my_media:/files/media
    command: >
      sh -c "
      sleep 5 &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - my_db:$PGDATA

  qcluster:
    build:
      context: .
    command: python manage.py qcluster
    env_file:
      - .env
    volumes:
      - ./:/app
    depends_on:
      - db

volumes:
  my_db:
  my_media: